{
    "swagger": "2.0",
    "info": {
        "title": "API Documentation",
        "version": "1.0.0"
    },
    "host": "t4tapi.kolaborasikproject.com/",
    "basePath": "",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/api/GetActivityUserId": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity UserId",
                "operationId": "GetActivityUserId",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetActivityLahanUser": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Lahan User",
                "operationId": "GetActivityLahanUser",
                "parameters": [
                    {
                        "name": "lahan_no",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/AddActivity": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Add Activity",
                "operationId": "AddActivity",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Add Activity",
                        "required": true,
                        "schema": {
                            "properties": {
                                "activity_type": {
                                    "type": "enum",
                                    "example": "planning/visit/distribution/realitation/monitoring"
                                },
                                "activity_date": {
                                    "type": "date",
                                    "example": "2021-04-05"
                                },
                                "ff_no": {
                                    "type": "string",
                                    "example": "12345678"
                                },
                                "lahan_no": {
                                    "type": "string",
                                    "example": "L00001"
                                },
                                "total_trees": {
                                    "type": "integer",
                                    "example": "222"
                                },
                                "programs": {
                                    "type": "string",
                                    "example": "test"
                                },
                                "activity_description": {
                                    "type": "string",
                                    "example": "Tanam Pohon"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "U0001"
                                },
                                "verification_code": {
                                    "type": "string",
                                    "example": "1/2/3"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/UpdateActivity": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Update Activity",
                "operationId": "UpdateActivity",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Update Activity",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "enum",
                                    "example": "1"
                                },
                                "activity_type": {
                                    "type": "enum",
                                    "example": "planning/visit/distribution/realitation/monitoring"
                                },
                                "activity_date": {
                                    "type": "date",
                                    "example": "2021-04-05"
                                },
                                "ff_no": {
                                    "type": "string",
                                    "example": "12345678"
                                },
                                "lahan_no": {
                                    "type": "string",
                                    "example": "L00001"
                                },
                                "total_trees": {
                                    "type": "integer",
                                    "example": "222"
                                },
                                "programs": {
                                    "type": "string",
                                    "example": "test"
                                },
                                "activity_description": {
                                    "type": "string",
                                    "example": "Tanam Pohon"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "U0001"
                                },
                                "verification_code": {
                                    "type": "string",
                                    "example": "1/2/3"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/DeleteActivity": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete Activity",
                "operationId": "DeleteActivity",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Delete Activity",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "enum",
                                    "example": "1"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetActivityDetail": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Detail",
                "operationId": "GetActivityDetail",
                "parameters": [
                    {
                        "name": "activity_no",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/AddActivityDetail": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Add Activity Detail",
                "operationId": "AddActivityDetail",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Add Activity Detail",
                        "required": true,
                        "schema": {
                            "properties": {
                                "activity_no": {
                                    "type": "string",
                                    "example": "A000001"
                                },
                                "tree_code": {
                                    "type": "string",
                                    "example": "T0001"
                                },
                                "amount": {
                                    "type": "string",
                                    "example": "200"
                                },
                                "detail_date": {
                                    "type": "date",
                                    "example": "2021-02-20"
                                },
                                "tree_status": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "growth_percentage": {
                                    "type": "integer",
                                    "example": "Nullable"
                                },
                                "diameter": {
                                    "type": "integer",
                                    "example": "Nullable"
                                },
                                "high": {
                                    "type": "integer",
                                    "example": "Nullable"
                                },
                                "polybags": {
                                    "type": "boolean",
                                    "example": "Nullable"
                                },
                                "list_of_things": {
                                    "type": "string",
                                    "example": "List Of Things"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/UpdateActivityDetail": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Update Activity Detail",
                "operationId": "UpdateActivityDetail",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Update Activity Detail",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "1"
                                },
                                "tree_code": {
                                    "type": "string",
                                    "example": "T0001"
                                },
                                "amount": {
                                    "type": "string",
                                    "example": "200"
                                },
                                "detail_date": {
                                    "type": "string",
                                    "example": "2021-02-20"
                                },
                                "tree_status": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "growth_percentage": {
                                    "type": "integer",
                                    "example": "Nullable"
                                },
                                "diameter": {
                                    "type": "integer",
                                    "example": "Nullable"
                                },
                                "high": {
                                    "type": "integer",
                                    "example": "Nullable"
                                },
                                "polybags": {
                                    "type": "boolean",
                                    "example": "Nullable"
                                },
                                "list_of_things": {
                                    "type": "string",
                                    "example": "List Of Things"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/DeleteActivityDetail": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete Activity Detail",
                "operationId": "DeleteActivityDetail",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Delete Activity Detail",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "enum",
                                    "example": "1"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetEmployeeAll": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "Get Employee All",
                "operationId": "GetEmployeeAll",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "position_no",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "parent_no",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetEmployeebyManager": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "Get Employee by Manager",
                "operationId": "GetEmployeebyManager",
                "parameters": [
                    {
                        "name": "manager_code",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "position",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetEmployeebyPosition": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "Get Employee by Position",
                "operationId": "GetEmployeebyPosition",
                "parameters": [
                    {
                        "name": "position_code",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFFbyUMandFC": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "Get FF by UM and FC",
                "operationId": "GetFFbyUMandFC",
                "parameters": [
                    {
                        "name": "position",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetEmployeeManagePosition": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "Get Employee Manage Position",
                "operationId": "GetEmployeeManagePosition",
                "parameters": [
                    {
                        "name": "position_code",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetJobPosition": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "Get Job Position",
                "operationId": "GetJobPosition",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/EditPositionEmp": {
            "post": {
                "tags": [
                    "Employee"
                ],
                "summary": "EditPositionEmp",
                "operationId": "EditPositionEmp",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "EditPositionEmp",
                        "required": true,
                        "schema": {
                            "properties": {
                                "nik": {
                                    "type": "string",
                                    "example": "nama"
                                },
                                "position_no": {
                                    "type": "string",
                                    "example": "1"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetEmployeeManageManager": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "Get Employee Manage Manager",
                "operationId": "GetEmployeeManageManager",
                "parameters": [
                    {
                        "name": "position_code",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetEmployeeMenuAccess": {
            "get": {
                "tags": [
                    "Employee"
                ],
                "summary": "GetEmployeeMenuAccess",
                "operationId": "GetEmployeeMenuAccess",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/EditMenuAccessEmp": {
            "post": {
                "tags": [
                    "Employee"
                ],
                "summary": "EditMenuAccessEmp",
                "operationId": "EditMenuAccessEmp",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "EditMenuAccessEmp",
                        "required": true,
                        "schema": {
                            "properties": {
                                "nik": {
                                    "type": "string",
                                    "example": "11_011"
                                },
                                "manager_code": {
                                    "type": "string",
                                    "example": "11_011"
                                },
                                "menu_access": {
                                    "type": "string",
                                    "example": "[1]"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerAllAdmin": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmers All Admin",
                "operationId": "GetFarmerAllAdmin",
                "parameters": [
                    {
                        "name": "typegetdata",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "ff",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "mu",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "ta",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "village",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerAllTemp": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmers All Temp",
                "operationId": "GetFarmerAllTemp",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerAll": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmers All",
                "operationId": "GetFarmerAll",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerNotComplete": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmers Not Complete",
                "operationId": "GetFarmerNotComplete",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerCompleteNotApprove": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmers Complete Not Approve",
                "operationId": "GetFarmerCompleteNotApprove",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerCompleteAndApprove": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmers Complete And Approve",
                "operationId": "GetFarmerCompleteAndApprove",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerDetail": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Get Farmer Detail",
                "operationId": "GetFarmerDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerDetailKtpNo": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmer Detail KtpNo",
                "operationId": "GetFarmerDetailKtpNo",
                "parameters": [
                    {
                        "name": "ktp_no",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerNoDropDown": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get FarmerNumber DropDown",
                "operationId": "GetFarmerNoDropDown",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/AddMandatoryFarmer": {
            "post": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Add Mandatory Farmer",
                "operationId": "AddMandatoryFarmer",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Add Mandatory Farmer",
                        "required": true,
                        "schema": {
                            "properties": {
                                "ktp_no": {
                                    "type": "string",
                                    "example": "0909090909"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Budi Indra"
                                },
                                "birthday": {
                                    "type": "date",
                                    "example": "2000-10-20"
                                },
                                "religion": {
                                    "type": "string",
                                    "example": "Islam"
                                },
                                "rt": {
                                    "type": "integer",
                                    "example": "01"
                                },
                                "rw": {
                                    "type": "integer",
                                    "example": "02"
                                },
                                "address": {
                                    "type": "string",
                                    "example": "Jl Cemara No 22, Kemiri, Salatiga"
                                },
                                "village": {
                                    "type": "string",
                                    "example": "33.05.10.18"
                                },
                                "marrital_status": {
                                    "type": "string",
                                    "example": "Kawin"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "085777771111"
                                },
                                "ethnic": {
                                    "type": "string",
                                    "example": "Jawa"
                                },
                                "origin": {
                                    "type": "string",
                                    "example": "lokal"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male"
                                },
                                "join_date": {
                                    "type": "date",
                                    "example": "2021-03-20"
                                },
                                "number_family_member": {
                                    "type": "int",
                                    "example": "2"
                                },
                                "mu_no": {
                                    "type": "string",
                                    "example": "024"
                                },
                                "target_area": {
                                    "type": "string",
                                    "example": "test"
                                },
                                "active": {
                                    "type": "int",
                                    "example": "1"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "U0002"
                                },
                                "ktp_document": {
                                    "type": "int",
                                    "example": "test"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/UpdateFarmer": {
            "post": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Update Farmer",
                "operationId": "UpdateFarmer",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Update Farmer",
                        "required": true,
                        "schema": {
                            "properties": {
                                "farmer_no": {
                                    "type": "string",
                                    "example": "F000001"
                                },
                                "ktp_no": {
                                    "type": "string",
                                    "example": "0909090909"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Budi Indra"
                                },
                                "birthday": {
                                    "type": "date",
                                    "example": "2000-10-20"
                                },
                                "religion": {
                                    "type": "string",
                                    "example": "Islam"
                                },
                                "rt": {
                                    "type": "integer",
                                    "example": "01"
                                },
                                "rw": {
                                    "type": "integer",
                                    "example": "02"
                                },
                                "address": {
                                    "type": "string",
                                    "example": "Jl Cemara No 22, Kemiri, Salatiga"
                                },
                                "village": {
                                    "type": "string",
                                    "example": "33.05.10.18"
                                },
                                "marrital_status": {
                                    "type": "string",
                                    "example": "Kawin"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "085777771111"
                                },
                                "ethnic": {
                                    "type": "string",
                                    "example": "Jawa"
                                },
                                "origin": {
                                    "type": "string",
                                    "example": "lokal"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male"
                                },
                                "number_family_member": {
                                    "type": "int",
                                    "example": "2"
                                },
                                "mu_no": {
                                    "type": "string",
                                    "example": "024"
                                },
                                "target_area": {
                                    "type": "string",
                                    "example": "test"
                                },
                                "active": {
                                    "type": "int",
                                    "example": "1"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "U0002"
                                },
                                "ktp_document": {
                                    "type": "int",
                                    "example": "test"
                                },
                                "post_code": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "group_no": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "mou_no": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "main_income": {
                                    "type": "int",
                                    "example": "nullable"
                                },
                                "side_income": {
                                    "type": "int",
                                    "example": "nullable"
                                },
                                "main_job": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "side_job": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "education": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "non_formal_education": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "farmer_profile": {
                                    "type": "string",
                                    "example": "nullable"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/SoftDeleteFarmer": {
            "post": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Soft Delete Farmer",
                "operationId": "SoftDeleteFarmer",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Soft Delete Farmer",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "2"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/DeleteFarmer": {
            "post": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Delete Farmer",
                "operationId": "DeleteFarmer",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Delete Farmer",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "2"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/VerificationFarmer": {
            "post": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Verification Farmer",
                "operationId": "VerificationFarmer",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Verification Farmer",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "2"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFarmerGroupsDropDown": {
            "get": {
                "tags": [
                    "Farmers"
                ],
                "summary": "Get Farmer Groups DropDown",
                "operationId": "GetFarmerGroupsDropDown",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "mu_no",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFieldFacilitatorAllWeb": {
            "get": {
                "tags": [
                    "FieldFacilitator"
                ],
                "summary": "Get Field Facilitator All Web Admin",
                "operationId": "GetFieldFacilitatorAllWeb",
                "parameters": [
                    {
                        "name": "fc_no",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFieldFacilitatorAll": {
            "get": {
                "tags": [
                    "FieldFacilitator"
                ],
                "summary": "Get Field Facilitator All Admin",
                "operationId": "GetFieldFacilitatorAll",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "fc_no",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFieldFacilitator": {
            "get": {
                "tags": [
                    "FieldFacilitator"
                ],
                "summary": "Get Field Facilitator",
                "operationId": "GetFieldFacilitator",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFieldFacilitatorDetail": {
            "get": {
                "tags": [
                    "FieldFacilitator"
                ],
                "summary": "Get Field Facilitator Detail",
                "operationId": "GetFieldFacilitatorDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/AddFieldFacilitator": {
            "post": {
                "tags": [
                    "FieldFacilitator"
                ],
                "summary": "Add Field Facilitator",
                "operationId": "AddFieldFacilitator",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Add Field Facilitator",
                        "required": true,
                        "schema": {
                            "properties": {
                                "fc_no": {
                                    "type": "string",
                                    "example": "11_111"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Mangga"
                                },
                                "birthday": {
                                    "type": "date",
                                    "example": "1990-01-30"
                                },
                                "religion": {
                                    "type": "string",
                                    "example": "islam"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male/female"
                                },
                                "ktp_no": {
                                    "type": "string",
                                    "example": "33101700020001"
                                },
                                "address": {
                                    "type": "string",
                                    "example": "Jl Cemara 11"
                                },
                                "village": {
                                    "type": "string",
                                    "example": "32.04.30.01"
                                },
                                "kecamatan": {
                                    "type": "string",
                                    "example": "32.04.30.01"
                                },
                                "city": {
                                    "type": "string",
                                    "example": "32.04"
                                },
                                "province": {
                                    "type": "string",
                                    "example": "JT"
                                },
                                "working_area": {
                                    "type": "string",
                                    "example": "390302"
                                },
                                "mu_no": {
                                    "type": "string",
                                    "example": "023"
                                },
                                "target_area": {
                                    "type": "string",
                                    "example": "120200100000"
                                },
                                "active": {
                                    "type": "string",
                                    "example": "1"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "020"
                                },
                                "marrital": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "join_date": {
                                    "type": "date",
                                    "example": "Nullable"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "post_code": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "bank_account": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "bank_branch": {
                                    "type": "date",
                                    "example": "Nullable"
                                },
                                "bank_name": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "ff_photo": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "ff_photo_path": {
                                    "type": "string",
                                    "example": "Nullable"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/UpdateFieldFacilitator": {
            "post": {
                "tags": [
                    "FieldFacilitator"
                ],
                "summary": "Update Field Facilitator",
                "operationId": "UpdateFieldFacilitator",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Update Field Facilitator",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "fc_no": {
                                    "type": "string",
                                    "example": "11_111"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Mangga"
                                },
                                "birthday": {
                                    "type": "date",
                                    "example": "1990-01-30"
                                },
                                "religion": {
                                    "type": "string",
                                    "example": "islam"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male/female"
                                },
                                "ktp_no": {
                                    "type": "string",
                                    "example": "33101700020001"
                                },
                                "address": {
                                    "type": "string",
                                    "example": "Jl Cemara 11"
                                },
                                "village": {
                                    "type": "string",
                                    "example": "32.04.30.01"
                                },
                                "kecamatan": {
                                    "type": "string",
                                    "example": "32.04.30.01"
                                },
                                "city": {
                                    "type": "string",
                                    "example": "32.04"
                                },
                                "province": {
                                    "type": "string",
                                    "example": "JT"
                                },
                                "working_area": {
                                    "type": "string",
                                    "example": "390302"
                                },
                                "mu_no": {
                                    "type": "string",
                                    "example": "023"
                                },
                                "target_area": {
                                    "type": "string",
                                    "example": "120200100000"
                                },
                                "active": {
                                    "type": "string",
                                    "example": "1"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "023"
                                },
                                "marrital": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "join_date": {
                                    "type": "date",
                                    "example": "Nullable"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "post_code": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "bank_account": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "bank_branch": {
                                    "type": "date",
                                    "example": "Nullable"
                                },
                                "bank_name": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "ff_photo": {
                                    "type": "string",
                                    "example": "Nullable"
                                },
                                "ff_photo_path": {
                                    "type": "string",
                                    "example": "Nullable"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/DeleteFieldFacilitator": {
            "post": {
                "tags": [
                    "FieldFacilitator"
                ],
                "summary": "Delete Field Facilitator",
                "operationId": "DeleteFieldFacilitator",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Delete Field Facilitator",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "example": 1
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFormMinatAllAdmin": {
            "get": {
                "tags": [
                    "FormMinat"
                ],
                "summary": "Get Form Minat Admin",
                "operationId": "GetFormMinatAllAdmin",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "typegetdata",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "fc",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFormMinatAll": {
            "get": {
                "tags": [
                    "FormMinat"
                ],
                "summary": "Get Form Minat",
                "operationId": "GetFormMinatAll",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetFormMinatDetail": {
            "get": {
                "tags": [
                    "FormMinat"
                ],
                "summary": "Get Form Minat Detail",
                "operationId": "GetFormMinatDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/AddFormMinat": {
            "post": {
                "tags": [
                    "FormMinat"
                ],
                "summary": "Add Form Minat",
                "operationId": "AddFormMinat",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Add Form Minat",
                        "required": true,
                        "schema": {
                            "properties": {
                                "form_date": {
                                    "type": "string",
                                    "example": "2021-03-20"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Budi Indra"
                                },
                                "alamat": {
                                    "type": "date",
                                    "example": "Jl Cemara No 22, Kemiri, Salatiga"
                                },
                                "kode_desa": {
                                    "type": "string",
                                    "example": "33.05.10.18"
                                },
                                "respond_to_programs": {
                                    "type": "string",
                                    "example": "berminat/ragu-ragu/belum_berminat"
                                },
                                "tree1": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree2": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree3": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree4": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree5": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "U0002"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/UpdateFormMinat": {
            "post": {
                "tags": [
                    "FormMinat"
                ],
                "summary": "Update Form Minat",
                "operationId": "UpdateFormMinat",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Update Form Minat",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "1"
                                },
                                "form_date": {
                                    "type": "string",
                                    "example": "2021-03-20"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Budi Indra"
                                },
                                "alamat": {
                                    "type": "date",
                                    "example": "Jl Cemara No 22, Kemiri, Salatiga"
                                },
                                "kode_desa": {
                                    "type": "string",
                                    "example": "33.05.10.18"
                                },
                                "respond_to_programs": {
                                    "type": "string",
                                    "example": "berminat/ragu-ragu/belum_berminat"
                                },
                                "tree1": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree2": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree3": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree4": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "tree5": {
                                    "type": "string",
                                    "example": "nullable"
                                },
                                "user_id": {
                                    "type": "string",
                                    "example": "U0002"
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/DeleteFormMinat": {
            "post": {
                "tags": [
                    "FormMinat"
                ],
                "summary": "Delete Form Minat",
                "operationId": "DeleteFormMinat",
                "parameters": [
                    {
                        "name": "Parameters",
                        "in": "body",
                        "description": "Delete Form Minat",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "example": 1
                                }
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetLahan": {
            "get": {
                "tags": [
                    "GekoMap"
                ],
                "summary": "GetLahan",
                "operationId": "GetLahan",
                "parameters": [
                    {
                        "name": "lahan_no",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                }
            }
        },
        "/api/GetSYT": {
            "get": {
                "tags": [
                    "GekoMap"
                ],
                "summary": "GetSYT",
                "operationId": "GetSYT",
                "parameters": [
                    {
                        "name": "wins",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                }
            }
        },
        "/api/GetSOT": {
            "get": {
                "tags": [
                    "GekoMap"
                ],
                "summary": "GetSOT",
                "operationId": "GetSOT",
                "parameters": [
                    {
                        "name": "participant_no",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                }
            }
        },
        "/api/GetLahanAllAdmin": {
            "get": {
                "tags": [
                    "Lahan"
                ],
                "summary": "Get Lahan All Admin",
                "operationId": "GetLahanAllAdmin",
                "parameters": [
                    {
                        "name": "typegetdata",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "ff",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "mu",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "ta",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "village",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "internal server error"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/GetLahanAll": {
            "get": {
                "tags": [
                    "Lahan"
                ],
                "summary": "Get Lahan All",
                "operationId": "GetLahanAll",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "farmer_no",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer"
                    },
[...]
